{%- assertIsNotEmpty site.title "Site title is needed for social meta tags" -%}
{%- assertIsNotEmpty site.description "Site description is needed for social meta tags" -%}

{%- assign generatedShareImage = "https://image.social/get?url=" | append: site.host | append: page.url -%}

{%- assign metaTitle = meta.title | default: site.title -%}
{%- assign metaDescription = meta.description | default: site.description -%}
{%- assign metaImage = meta.image | default: site.socialShareImage | default: generatedShareImage -%}

{%- if meta.image == 'screenshot' -%}
    {%- assign metaImage = generatedShareImage -%}
{%- endif -%}

<title>{{- metaTitle | escape -}}</title>
<meta name="description" content="{{- metaDescription -}}">
<meta name="twitter:title" content="{{- metaTitle -}}">
<meta name="twitter:description" content="{{- metaDescription -}}">
<meta name="twitter:image" content="{{- metaImage -}}">
<meta name="twitter:card" content="summary_large_image">
<meta property="og:title" content="{{- metaTitle -}}">
<meta property="og:description" content="{{- metaDescription -}}">
<meta property="og:image" content="{{- metaImage -}}">
<meta property="og:url" content="https://{{- site.host -}}{{- page.url -}}">