<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="theme-color" content="#022B4D">
    
    {% include "socialMetaTags" %}
    {% assertIsNotEmpty site.host "Site host needed for canonical URLs" %}
    <link rel="canonical" href="https://{{- site.host -}}{{- page.url | url -}}" />
    <link type="text/plain" rel="author" href="https://{{- site.host -}}/humans.txt" />
    <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
    {% if site.plausible_domain_id and site.plausible_domain_id.size > 0 %}
    <script defer data-domain="{{- site.plausible_domain_id -}}" data-api="/tools/event" src="/tools/script.js"></script>
    {%- endif -%}
</head>

<body>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const hasMvParam = urlParams.has('mv');
        const hasMvCookie = document.cookie.split(';').some(item => item.trim().startsWith('mv='));

        if (hasMvParam || hasMvCookie) {
            const metaThemeColor = document.querySelector('meta[name="theme-color"]');
            metaThemeColor.setAttribute('content', '#000000');
            document.body.classList.add('mv');
            if (!hasMvCookie) {
                const expiryDate = new Date();
                expiryDate.setFullYear(expiryDate.getFullYear() + 1);
                document.cookie = `mv=true; expires=${expiryDate.toUTCString()}; path=/`;
            }
            if (hasMvParam) {
                urlParams.delete('mv');
                const newUrl = window.location.pathname + (urlParams.toString() ? '?' + urlParams.toString() : '');
                window.history.replaceState({}, '', newUrl);
            }
        }
    </script>
    <div class="container">
        <header>
            <div class="logo-container">
                <a href="/">
                    <img src="https://mobilevikings.be/static/img/logo-white.svg" alt="{{ site.name }}" class="logo mv">
                    <img src="https://assets.ckx.be/icon-light.svg" alt="{{ site.name }}" class="logo ckx">
                </a>
                <h1>{{ site.name }}</h1>
            </div>
            <a class="theme-toggle" href="javascript:document.cookie = 'mv=; expires=Thu, 01 Jan 1970 00:00:00 GMT; path=/'; window.location.reload();" class="button">disable theme</a>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <p> &copy; {{ "now" | date: '%Y' }} — by <a href="https://martijnluyckx.be">Martijn Luyckx</a> van <a href="https://ckx.be">CKX</a>.</p>
            <p>Deze tool is gebaseerd op de <a href="https://www.whistiwwa.com/_files/ugd/d0d088_06f8f8e9bffa4e828859b045cc88c57a.pdf">officiële regels</a> en <a href="https://www.whistiwwa.com/_files/ugd/d0d088_2c9ac91443ab4b98ac7ad047e1f0ef59.pdf">puntentabel</a> van de IWWA.</p>
        </footer>
    </div>
    <script src="/assets/rounds.js"></script>
    <script src="/assets/game.js"></script>
</body>

</html>